<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Star War</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class='homeContainer'>
    <ion-list>
      <ion-item href="/characters">
        <ion-avatar slot="start">
          <img
            src="https://i.pinimg.com/originals/b9/1e/a8/b91ea8179bcab035280f5fa7ead89bc5.jpg"
          />
        </ion-avatar>
        <ion-label>Characters</ion-label>
      </ion-item>
      <ion-item href="/films">
        <ion-avatar slot="start">
          <img
            src="https://eln.iranapps.com/resource/w/93b3ac97ea7f5e65c3e489f83f5ead5626f0459e/star.war.videoplayer/2/cover_256.png?t=1550355069315F472C70"
          />
        </ion-avatar>
        <ion-label>Films</ion-label>
      </ion-item>
      <ion-item href="/species">
        <ion-avatar slot="start">
          <img
            src="https://pm1.narvii.com/6477/0d6bf37fe2298d51b8b9eba37a96f1df213481b3_128.jpg"
          />
        </ion-avatar>
        <ion-label>Species</ion-label>
      </ion-item>
      <ion-item href="starships">
        <ion-avatar slot="start">
          <img
            src="https://static-s.aa-cdn.net/img/gp/20600002183629/cXSvAu2HZaJy6dzTThlnAjPno0rROK6fNLDNd1KmBYBpuUgP021zY5u20u3UJe16Gnw=w300?v=1"
          />
        </ion-avatar>
        <ion-label>Starships</ion-label>
      </ion-item>
      <ion-item href="/vehicles">
        <ion-avatar slot="start">
          <img
            src="http://icons.iconarchive.com/icons/jonathan-rey/star-wars-vehicles/256/AT-RT-icon.png"
          />
        </ion-avatar>
        <ion-label>Vehicles</ion-label>
      </ion-item>
      <ion-item href="planets">
        <ion-avatar slot="start">
          <img
            src="https://static-s.aa-cdn.net/img/gp/20600005254962/fMR-wCpzfsRuoV-nTuxlgRcABOyhqnDO-uvkzQlJ7nKjgvD0JgPldKvsgzfJMMJXUA=w300?v=1"
          />
        </ion-avatar>
        <ion-label>Planets</ion-label>
      </ion-item>
    </ion-list>
  </div>
  </ion-content>
</ion-app>
